# Variable

### Create a variable named carname and assign the value Volvo to it.

In [57]:
carname = "Volvo"
print(carname)

Volvo

### Create a variable named x and assign the value 50 to it.

In [58]:
X = 50
print(X)

50

### Display the sum of 5 + 10, using two variables: x and y.

In [59]:
x = 5
y = 10
print(x + y)

15

### Create a variable called z, assign x + y to it, and display the result.

In [60]:
x = 5
y = 10
z = x + y
print(z)

15

### Remove the illegal characters in the variable name:

In [61]:
var_name = '#Employee-N$am@e'
char_illegal = '~!@#$%^&*()-=+*/?><'
for char in var_name:
    if char in char_illegal:
        var_name = var_name.replace(char, '')

print(var_name)

EmployeeName

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [62]:
num_1 = num_2 = num_3 = 5
print(num_1, num_2, num_3)

5 5 5

### The following code example would print the data type of x, what data type would that be?

In [63]:
X = 43
print(type(X))

<class 'int'>

### The following code example would print the data type of x, what data type would that be?

In [64]:
X = 43.3
print(type(X))

<class 'float'>

### The following code example would print the data type of x, what data type would that be?

In [65]:
X = [1, 2, 'ABC']
print(type(X))

<class 'list'>

### The following code example would print the data type of x, what data type would that be?

In [66]:
X = (1, 2, 'ABC')
print(type(X))

<class 'tuple'>

### The following code example would print the data type of x, what data type would that be?

In [67]:
X = {1, 2, 'ABC'}
print(type(X))

<class 'set'>

### The following code example would print the data type of x, what data type would that be?

In [68]:
X = {'ID': 123, 'Brand': 'BMW', 'Color': 'Black', 'ManufacturerYear': '2010'}
print(type(X))

<class 'dict'>

### The following code example would print the data type of x, what data type would that be?

In [69]:
X = 'W123'
print(type(X))

<class 'str'>

### Insert the correct syntax to convert x into a floating point number.

In [70]:
X = '1223'
print(float(X))

1223.0

### Insert the correct syntax to convert x into a integer.

In [71]:
X = '1223'
print(int(X))

1223

### Use the len method to print the length of the string.

In [72]:
X = 'Hello'
print(len(X))

5

### Get the first character of the string txt.

In [73]:
X = 'Hello'
print(X[0])

H

### Get the characters from index 2 to index 4 (llo).

In [74]:
X = 'Hello'
print(X[2:5])

llo

### Return the string without any whitespace at the beginning or the end.

In [75]:
X = ' Hello '
print(X.strip())

Hello

### Convert the value of txt to upper case.

In [76]:
X = 'Hello'
print(X.upper())

HELLO

### Convert the value of txt to lower case.

In [77]:
X = 'Hello'
print(X.lower())

hello

### Replace the character H with a J.

In [78]:
X = 'Hello'
print(X.replace('H', 'J'))

Jello

### Using format function to print the age

In [79]:
Age = 43

In [80]:
print("Age = {}".format(Age))

Age = 43

### The statement below would print a Boolean value, which one?

In [81]:
A = 5

In [82]:
print(type(A > 3))

<class 'bool'>

### Multiply 10 with 5, and print the result.

In [83]:
print(10 * 5)

50

### Divide 10 by 2, and print the result.

In [84]:
print(10 / 2)

5.0

### Create a list and check if the value in this list or not

In [85]:
X = [1, 4, 'Abc', 'H', 3.4]
print('Abc' in X)

True

### Use the correct comparison operator to check if 5 is not equal to 10.

In [86]:
print(5 != 10)

True

### Use the correct logical operator to check if at least one of two statements is True.

In [87]:
A, B = 3, 4
if (A > 2) or (B == 5):
    print('OK')

OK

### Print the second item in the fruits list.

In [88]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi']

In [89]:
print(fruits_list[1])

banana

Change the value from "apple" to "kiwi", in the fruits list.

In [90]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi']

for ind in range(len(fruits_list)):
    if fruits_list[ind] == 'apple':
        fruits_list[ind] = 'kiwi'
print(fruits_list)

['kiwi', 'banana', 'orange', 'kiwi']

In [91]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi']

ind = fruits_list.index('apple')
fruits_list = fruits_list[:ind] + ['kiwi'] + fruits_list[ind+1:]
print(fruits_list)

['kiwi', 'banana', 'orange', 'kiwi']

###  Use the append method to add "orange" to the fruits list.

In [92]:
fruits_list = ['apple', 'banana', 'kiwi']

In [93]:
fruits_list.append('orange')
print(fruits_list)

['apple', 'banana', 'kiwi', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [94]:
fruits_list.insert(1, 'lemon')
print(fruits_list)

['apple', 'lemon', 'banana', 'kiwi', 'orange']

### Use the remove method to remove "banana" from the fruits list.

In [95]:
fruits_list.remove('banana')
print(fruits_list)

['apple', 'lemon', 'kiwi', 'orange']

### Use negative indexing to print the last item in the list.

In [96]:
print(fruits_list[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [97]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi', 'lemon', 'orange']

In [98]:
print(fruits_list[2:5])

['orange', 'kiwi', 'lemon']

### Use the correct syntax to print the number of items in the list.

In [99]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi', 'lemon', 'orange']

In [100]:
print(len(fruits_list))

6

### Use the correct syntax to print the first item in the fruits tuple.

In [101]:
fruits_tuple = ('apple', 'banana', 'orange', 'kiwi', 'lemon', 'orange')

In [102]:
print(fruits_tuple[0])

apple

### Use the correct syntax to print the number of items in the fruits tuple.

In [103]:
fruits_tuple = ('apple', 'banana', 'orange', 'kiwi', 'lemon', 'orange')

In [104]:
print(len(fruits_tuple))

6

### Use the add method to add "orange" to the fruits set.

In [105]:
fruits_set = {'apple', 'banana', 'kiwi', 'lemon'}

In [106]:
fruits_set.add('orange')
print(fruits_set)

{'banana', 'kiwi', 'apple', 'lemon', 'orange'}

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [107]:
fruits_set = {'apple', 'banana', 'kiwi'}

In [108]:
fruits_set.update({'orange', 'lemon'})
print(fruits_set)

{'orange', 'kiwi', 'banana', 'apple', 'lemon'}

### Use the remove method to remove "banana" from the fruits set.

In [109]:
fruits_set = {'apple', 'banana', 'kiwi'}

In [110]:
fruits_set.remove('banana')
print(fruits_set)

{'apple', 'kiwi'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [141]:
car_dict = {'ID': 123, 'Brand': 'BMW', 'Year': 1964}

In [142]:
print(car_dict.get('Brand'))

BMW

### Change the "year" value from 1964 to 2020.

In [143]:
car_dict['Year'] = 2020
print(car_dict)

{'ID': 123, 'Brand': 'BMW', 'Year': 2020}

### Add the key/value pair "color" : "red" to the car dictionary.

In [147]:
car_dict['Color'] = 'red'
print(car_dict)

{'ID': 123, 'Brand': 'BMW', 'Year': 2020, 'Color': 'red'}

In [150]:
car_dict = {'ID': 123, 'Brand': 'BMW', 'Year': 2020}
car_dict.update({'Color': 'red'})
print(car_dict)

{'ID': 123, 'Brand': 'BMW', 'Year': 2020, 'Color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [157]:
car_dict = {'ID': 123, 'Brand': 'BMW', 'Model': 'ABC', 'Year': 2020}
car_dict.pop('Model')
print(car_dict)

{'ID': 123, 'Brand': 'BMW', 'Year': 2020}

### Use the clear method to empty the car dictionary.

In [158]:
car_dict = {'ID': 123, 'Brand': 'BMW', 'Model': 'ABC', 'Year': 2020}
car_dict.clear()
print(car_dict)

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [161]:
a, b = 3, 2
if a == b:
    print(1)
elif a > b:
    print(2)
else:
    print(3)

2

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

### Use the correct short hand syntax to write the following conditional expression in one line:

In [166]:
a, b = 3, 2
print(1) if a == b else print(2) if a > b else print(3)

2

### Print i as long as i is less than 6.

In [172]:
for i in range(10):
    if i < 6: print(i)

0
1
2
3
4
5

### Stop the loop if i is 3.

In [175]:
i = 0
while i < 3:
    print(i)
    i += 1

0
1
2

### In the loop, when i is 3, jump directly to the next iteration.

In [176]:
for i in range(5):
    if i == 3: continue
    print(i)

0
1
2
4

### Print a message once the condition is false.

In [183]:
for i in range(5):
    if (i == 3) is False: print('{} is not equal 3'.format(i))

0 is not equal 3
1 is not equal 3
2 is not equal 3
4 is not equal 3

### In the loop, when the item value is "banana", jump directly to the next item.

In [184]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi']
for frt in fruits_list:
    if frt == 'banana': continue
    print(frt)

apple
orange
kiwi

### Use the range function to loop through a code set 6 times.

In [186]:
for count in range(6): print(count)

0
1
2
3
4
5

### Exit the loop when x is "banana".

In [187]:
fruits_list = ['apple', 'banana', 'orange', 'kiwi']
for frt in fruits_list:
    if frt == 'banana': break
    print(frt)

apple

### Create a function named my_function.

In [188]:
def my_function():
    print('Hello')

### Execute a function named my_function.

In [189]:
my_function()

Hello

### Inside a function with two parameters, print the first parameter.

In [207]:
def my_function(param_1, param_2):
    print(param_1)
    
    
my_function_1(3, 2)

3

### Let the function return the x parameter + 5.

In [208]:
def my_function(x):
    return (x + 5)


print(my_function(4))

9

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [216]:
#The prefix is "*"
def my_function(*params):
    for param in params:
        print(param)

        
my_function(1, 2, 3)
my_function(1, 2, 3, 4, 5)

1
2
3
1
2
3
4
5

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [229]:
#The prefix is "**"
def my_function(**params):
    for param in params:
        print('{}:'.format(param))
        print(params[param])
    if 'Model' not in params:
        params.update({'Model': 'ABC'})
        print('Model:')
        print(params['Model'])
        print('The Model was written by default, since it was not modified by the user!')

        
my_function(ID = 123, Brand = 'BMW', Year = 2020)
my_function(ID = 123, Brand = 'BMW', Year = 2020, Model= 'xyz')

ID:
123
Brand:
BMW
Year:
2020
Model:
ABC
The Model was written by default, since it was not modified by the user!
ID:
123
Brand:
BMW
Year:
2020
Model:
xyz

### Create a lambda function that takes one parameter (a) and returns it.

In [233]:
Y = lambda X: X
print(Y(3))

3

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [252]:
def PrimeFunc(n):
    prime_list = []
    for i in range(2, n+1):
        prime_flag = True
        for j in range(2, int(i**0.5)+1):
            if i % j == 0:
                prime_flag = False
                break
        if prime_flag: prime_list.append(i)
    return prime_list
    

print(PrimeFunc(55))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [261]:
def FiboSeqFunc(n):
    fibo_list = [0, 1]
    if n < 3:
        return fibo_list[0:n]
    else:
        for i in range(2, n):
            fibo_list.append(fibo_list[i-1] + fibo_list[i-2])
        return fibo_list
            
        
print(FiboSeqFunc(15))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

### Write a function to compute the power of a number x raised to the power n using recursion.

In [262]:
def PowerFunc(x, n):
    if n == 0:
        return 1
    elif n == 1:
        return x
    else:
        return (x * PowerFunc(x, n-1))

In [263]:
print(PowerFunc(5, 0))

1

In [264]:
print(PowerFunc(5, 1))

5

In [265]:
print(PowerFunc(5, 2))

25

In [266]:
print(PowerFunc(5, 3))

125